<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
</head>
<style>

    .container {
        width: 350px;
        height: 250px;
        margin-top: 100px;
        text-align: right;
    }

    .container h3 {
        text-align: center;
    }

    .error {
        background: #f0d6d6;
        padding: 0.5em;
        text-align: center;
    }

</style>
<body>
<div class="container">
    <h3>找回密码</h3>
    {% if error %}
    <p class="error"><strong>{{error}}</strong></p>
    {% endif %}
    <form action="{{url_for('admin.forgetpwd')}}" method="post">
        <div class="form-group">
            {{form.email(type="email",placeholder="请输入邮箱",class="form-control")}}
        </div>
        <div class="form-group">
            <ul class="list-unstyled list-inline">
                <li><input type="text" class="form-control" name="captcha" placeholder="请输入验证码" style="width: 140px"></li>
                <li><img src="{{url_for('admin.captcha')}}" onclick='this.src="{{url_for('admin.captcha')}}"+"?t="+Math.random()' id="captcha"></img></li>
            </ul>


        </div>

        <div class="form-group">
            {{form.recaptcha}}
        </div>
{{ form.csrf_token }}
        <a href="{{url_for('admin.login')}}">去登录</a>
        <a href="{{url_for('admin.register')}}">去注册</a>
        <button class="btn btn-default" type="submit">确认</button>
    </form>
</div>
<script type="text/javascript">
    function recaptcha() {
           var imgsrc=$("#captcha").attr("src");
           alert(imgsrc+"?"+Math.random())
    $("#captcha").attr("src",imgsrc+"?t="+Math.random());
    }

</script>

</body>
</html>