{%extends "base.html" %}
{% import "page.html" as pg %}
{%block content %}
{% include "menu.html" %}
{% include "confirm.html"%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top: 60px">
            <a class="btn btn-default" data-toggle="modal" href="{{url_for('admin.addinvest')}}" data-target="#invest" style="margin-top: 5px;margin-bottom: 10px">添加</a>
            <div class="panel panel-default">
                <div class="panel-heading">投资记录</div>

                <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>平台名称</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>金额(¥)</th>
                            <th>年利率(%)</th>
                            <th>收益(¥)</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in page_data.items %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.p2p.name}}</td>
                            <td>{{item.start_time}}</td>
                            <td>{{item.end_time}}</td>
                            <td>{{item.money}}</td>
                            <td>{{item.profit}}</td>
                            <td>{{item.lucre}}</td>
                            <td>{% if item.status==0%}<span class="label label-info">进行中</span>{%elif item.status==1%}<span class="label label-warning">已到期</span>{%else%}<span class="label label-success">已确认</span>{%endif%}</td>
                            <td>
                                {% if item.status==0%}
                                <a class="btn btn-danger btn-xs delinvest"  data-toggle="modal" data-target="#cfmModel" rel="{{url_for('admin.delinvest',id=item.id)}}">
                                    删除
                                </a>
                                {% elif item.status==1 %}
                                <a class="btn btn-danger btn-xs doneinvest"  data-toggle="modal" data-target="#cfmModel" rel="{{url_for('admin.doneinvest',id=item.id)}}">
                                    确认
                                </a>
                                {%endif%}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix" style="text-align: right">
                {{pg.page(page_data,"admin.invest")}}
            </div>
        </div>
    </div>
</div>


<div class="modal fade " id="invest" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
    $("#modifyp2p").on("hidden.bs.modal", function() {
    $(this).removeData("bs.modal");
});
        $("#p2p").on("hidden.bs.modal", function() {
    $(this).removeData();
});

    $(document).ready(function () {
        $(".delinvest").click(function () {
            var url=$(this).attr("rel");
            $("#cfmModel .modal-footer > a").attr("href",url);
        });
        $(".doneinvest").click(function () {
            var url=$(this).attr("rel");
            $("#cfmModel .modal-footer > a").attr("href",url);
        });
        $(".doneinvest").click(function () {
            var url=$(this).attr("rel");
            $("#cfmModel .modal-body > p").text("您确认要进行此操作吗？");
        });
    })

</script>
{% endblock %}


