{%extends "base.html" %}
{% import "page.html" as pg %}
{%block content %}
{% include "menu.html" %}
{% include "confirm.html" %}
<div class="container-fluid">
    <div class="row">
        {% include "menu.html" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top: 60px">
            <a class="btn btn-default" data-toggle="modal" href="{{url_for('admin.adduserp2p')}}" data-target="#userp2p" style="margin-top: 5px;margin-bottom: 10px">添加</a>
            <div class="panel panel-default">
                <div class="panel-heading">用户平台</div>

                <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>平台名称</th>
                            <th>平台帐号</th>
                            <th>平台密码</th>
                            <th>手机</th>
                            <th>银行卡信息</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in page_data.items %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.p2p.name}}</td>
                            <td>{{item.account}}</td>
                            <td>{{item.password}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.bankcard.name}} {{item.bankcard.card}}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" data-toggle="modal" href="{{url_for('admin.modifyuserp2p',id=item.id)}}" data-target="#modifyuserp2p" >修改</a>
                                <a class="btn btn-danger btn-xs delbank"  data-toggle="modal" data-target="#delcfmModel" rel="{{url_for('admin.deluserp2p',id=item.id)}}">删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix" style="text-align: right">
                {{pg.page(page_data,"admin.userp2p")}}
            </div>
        </div>
    </div>
</div>


<div class="modal fade " id="userp2p" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>

    </div>
</div>


<div class="modal fade " id="modifyuserp2p" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>

    </div>
</div>

<script>
    $("#modifyuserp2p").on("hidden.bs.modal", function() {
    $(this).removeData("bs.modal");
});
        $("#p2p").on("hidden.bs.modal", function() {
    $(this).removeData();
});

    $(document).ready(function () {
        $(".delbank").click(function () {
            var url=$(this).attr("rel");
            $("#cfmModel .modal-footer > a").attr("href",url);
        })
    })

</script>
{% endblock %}


